import {Component} from "react"

class Contact extends Component{
    render(){
        return(
            <>
            <h1>Please Contact me</h1>
            </>
        )
    }
}

export default contact